**/node_modules
api/lib
dist
dist-ssr
.git
.gitignore
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/.env.local
**/.env.local.nonprod
**/.secret.local
**/.firebase
**/firebase-debug.log
**/.DS_Store
**/.vscode
**/.idea
project-documentation
infra
README.md
~$*
*.zip
*.log
